{{ define "newState" }}
	<script>
		$(".aside .nav li").removeClass("active");
		$(".anonym, .anonym_new_state").addClass("active");
	</script>
	
	<div class="content-heading">
		Create a new state or community
	</div>

	<div id="new_state_request">
		<div class="panel panel-default" data-sweet-alert>
			<div class="panel-body">
				You can create your own state or community, create and manage smart laws, etc. in version 0.1, which can be downloaded

				{{if .Thrust}}
					<a href="#" onclick='THRUST.remote.send("http://egaas.org/en/download.html#private")' target="_blank">
				{{else}}
					<a href="http://egaas.org/en/download.html#private" target="_blank">
				{{end}}


					here</a>.
			</div>
		</div>
	</div>

{{end}}