{{ define "newState" }}
	<script>
		$(".aside .nav li").removeClass("active");
		$(".anonym, .anonym_new_state").addClass("active");
	</script>
	
	<div class="content-heading">
		Create a new ecosystem or community
	</div>

	<div id="new_state_request">
		<div class="panel panel-default" data-sweet-alert>
			<div class="panel-body">
				You can create your own ecosystem or community, create and manage smart laws, etc. in version 0.1, which can be downloaded

				{{if .Thrust}}
					<a href="#" onclick='THRUST.remote.send("http://apla.io/en/download.html#private"); load_page("newState"); HideMenu(); ' target="_blank">
				{{else}}
					<a href="http://apla.io/#/download/#private" onclick="load_page('newState'); HideMenu(); " target="_blank">
				{{end}}

					here</a>.
			</div>
		</div>
	</div>

{{end}}